block index
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include stylesheets.pug
    title Document
  body
    h1 Puggly Wuggly in a rolled up ruggly.
    h2 #{subtitle}
    h2= url
    .names
      ul
        each name in names
          li Hello, #{name}
    p
      |This is a paragraph.
      |More lines in the paragraph.
    - let wtf = 'username'
    h2= wtf
    input(type="test" placeholder=wtf)
    block content
      p This is here from teh block.
    .footer-nav
      a.foot-nav(class={active: loggedIn === true} href='/') Logout
      a.foot-nav(class={active: loggedIn === false} href='/') Login/Register
